DB_HOST = "seu_host"
DB_USER = "seu_usuario"
DB_PASSWORD = "sua_senha"
DB_PORT = "sua_porta"
DB_DATABASE = "nome_banco_de_dados"

WHATSAPP_APP_ID = "id_app"
WHATSAPP_APP_SECRET = "id_secreto_app"
WHATSAPP_APP_VERSION = "v00.0"
WEBHOOK_VERIFY_TOKEN = "seu challenge"