DB_HOST = "seu_host"
DB_USER = "seu_usuario"
DB_PASSWORD = "sua_senha"
DB_PORT = "sua_porta"
DB_DATABASE = "nome_banco_de_dados"

WHATSAPP_APP_ID = "id_app"
WHATSAPP_APP_SECRET = "id_secreto_app"
WHATSAPP_APP_VERSION = "v00.0"
WEBHOOK_VERIFY_TOKEN = "seu challenge"

GOOGLE_CLIENT_ID = "client_id_google"
GOOGLE_CLIENT_SECRET = "client_secret_google"
GOOGLE_REDIRECT_URI = "http://localhost:8000/google-calendar/callback"

BREVO_API_KEY = "sua_chave_brevo"

STRIPE_SECRET_KEY = "sua_chave_stripe"
STRIPE_WEBHOOK_SECRET_INSTANT = "seu_webhook_secret_instant"
STRIPE_WEBHOOK_SECRET_MINIMUM = "seu_webhook_secret_minimum"