DB_HOST = "seu_host"
DB_USER = "seu_usuario"
DB_PASSWORD = "sua_senha"
DB_PORT = "sua_porta"
DB_DATABASE = "nome_banco_de_dados"

WHATSAPP_APP_ID = "id_app"
WHATSAPP_APP_SECRET = "id_secreto_app"
WHATSAPP_APP_VERSION = "v00.0"
WEBHOOK_VERIFY_TOKEN = "seu challenge"

GOOGLE_CLIENT_ID = "client_id_google"
GOOGLE_CLIENT_SECRET = "client_secret_google"
GOOGLE_REDIRECT_URI = "http://localhost:8000/google-calendar/callback"

BREVO_API_KEY = "sua_chave_brevo"

STRIPE_SECRET_KEY = "sua_chave_stripe"
STRIPE_WEBHOOK_SECRET_INSTANT = "seu_webhook_secret_instant"
STRIPE_WEBHOOK_SECRET_MINIMUM = "seu_webhook_secret_minimum"
STRIPE_PRODUCT_ID = ""
STRIPE_PRICE_ID_ANNUAL_BRONZE = ""
STRIPE_PRICE_ID_ANNUAL_SILVER = ""
STRIPE_PRICE_ID_ANNUAL_GOLD = ""
STRIPE_PRICE_ID_MONTHLY_BRONZE = ""
STRIPE_PRICE_ID_MONTHLY_SILVER = ""
STRIPE_PRICE_ID_MONTHLY_GOLD = ""
STRIPE_COUPON_ANNUAL = ""
STRIPE_SUCCESS_URL = ""
STRIPE_CANCEL_URL = ""
STRIPE_CURRENCY = "brl"
STRIPE_PAYMENT_METHODS = "card"

TOKEN_JWT_SECRET_KEY = ""
SIGNATURE_ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 60 * 24 * 7